<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <title>@Html.Raw(ViewBag.title)</title>
    <meta name="description" content="@Html.Raw(ViewBag.des)">
    <meta name="keywords" content="@Html.Raw(ViewBag.keywords)">
    <meta name="author" content="marketingol.net">

    <!-- Meta property -->
    <meta property="og:title" content="@Html.Raw(ViewBag.title)" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="dicung.net" />
    <meta property="og:url" content="@Html.Raw(ViewBag.url)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.des)" />
    <meta property="og:image" itemprop="thumbnailUrl" content="@ViewBag.image" />
    <meta property="fb:admins" content="100006557590947" />
    <link rel="canonical" href="@ViewBag.url" />

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/parallax/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/parallax/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
  <!-- #Let's Begin -->
<body>

    <div id="main_wapper">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">ĐiCùng.net</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">About</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">About</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        @RenderBody()

        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">ĐiCùng.net</h5>
                        <p class="grey-text text-lighten-4">
                            We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
                        </p>

                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">About</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="#!">Materialize</a>
                </div>
            </div>
        </footer>
    </div>

    <!--  #Scripts -->
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Content/parallax/js/materialize.js"></script>
    <script src="~/Content/parallax/js/init.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1qERvhDObo0vsdbIEMEVM54lvCEwvUcw&libraries=places&language=vi&region=VN" type="text/javascript"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
